<%# <%= render "shared/header" %>

<div class="store-main">  <%# // 下メインメニュー %>
  <%# 左下 %>
  <%# <%= render "shared/side-menu" %>
  <%# // 左下 %>
  <%# 右下 %>
  <div class="items">
    <div class="ordered">登録が完了しました</div>
      <div><%= link_to "買い物を始める", "/", class: "toppage" %></div>
  </div>
  <%# 右下 %>
</div>

<%# <%= render "shared/footer" %>