
header{
  height: 80px;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
}

// 左上
.store-header{
  width: 300px;
  background-color: #eeeeee;
}
.side-box{
  width: 260px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.store-name{
  color: #595959;
  font-size: 50px;
  margin: auto;
}
// 左上

// 右上
.main-header{
  width: calc(100% - 300px);
  background-color: #3f3f3f;
  border-bottom: 1px solid #595959;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.top-list{
  color: #eeeeee;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
}
.menu{
  display: flex;
  margin-right: 100px;
  font-size: 30px;
}
.topcart{
  margin-top: 6px;
  color: orange;
}
// 右上

.store-main{
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
}

// 左下
.side-menu{
  width: 300px;
  background-color: #3f3f3f;
  // box-sizing: border-box;
}
.categories{
  // display: flex;
  align-items: center;
}
.buysell{
  color: #eeeeee; 
  font-size: 25px;
  margin: 0 50px 30px 30px;

}
.buy{
  color: #eeeeee;
  font-size: 20px;
}
.sell{
  color: #eeeeee;
  font-size: 20px;
}
// 左下

// 右下
.items{
  height: 100%;
  width: calc(100% - 300px);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  // box-sizing: border-box;
}
.page-name{
  height: 100%;
  width: calc(100% - 300px);
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 20px 20px;
  font-size: 40px;
  // box-sizing: border-box;
}
.card_info{
  color: blue;
  font-size: 20px;
  text-align: center;
}
.lists{
  width: 100%;
  font-size: 30px;
  margin: 0 0 50px 30px;
  display: flex;
  /* flex-wrap: wrap; */
}
.list {
  width: 33vh;
  display: flex;
  // flex-direction: column;
  // align-items: center;
  position: relative;
  margin: 10px 0px 0px 50px;
}
.item-img {
  width: 33vh;
  height: 33vh;
}
.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}
.item-name {
  font-size: 2.5vh;
}
.item-price {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
// 右下

a{
  text-decoration: none;
  color: #eeeeee;
}